.overviewSummary {
  margin-top: 2rem;
  display: flex;
}
.overviewSummary .ucSummary {
  flex: 2;
  margin-right: 2rem;
}
.overviewSummary .feedbacks {
  flex: 1;
}

header nav {
  background: #fff;
  padding: 0 20px 0 20px;
}

.titleArea {
  color: #333;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  /* padding: 20px 20px 0 20px; */
}
