/* button {
  background: #fff;
  color: #51087e;
  border: 1px solid #51087e;
  padding: 0.75rem 1rem;
}

button:hover,
button:active {
  background: #6c0ba9;
  color: #fff;
}
.list-wrapper {
  width: 600px;
} */
.list-cap {
  background: #6c0ba9;
  color: #cc8899;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-weight: 100;
}

.list {
  list-style: none;
  padding: 10px;
}

.list li {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 10px;
  align-items: center;
}
